# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env

# Build folders
frontend/dist/
frontend/build/
backend/dist/
backend/build/

# Logs
*.log

# TypeScript build cache
*.tsbuildinfo

# Editor / OS files
.vscode/
.idea/
.DS_Store

# Coverage or testing outputs
coverage/
